body{
    background-image: url(/images/image2.png);
    background-color: #191919;
    background-blend-mode: multiply;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    color: #ffefdf;
    margin: auto;
}

nav{
    background-image: url(/images/nav.png);
    background-blend-mode: darken;
    background-size: cover;
    padding: auto;
    text-align: center;
}

nav ul{
    list-style-type: none;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
    margin: 0px;
}

/*CUSTOM CLASSES:*/

.top-menu li{
    display: inline-block;
    margin-left: 20px;
}

.top-menu ul{
    margin: 20px;
}

.top-menu a{
    text-decoration: none;
    font-weight: bolder;
    color: #191919;
}

/*- CHANGES COLOR WHEN HOVERING OVER LINK:*/
.top-menu a:hover {
    color: #ffefdf;
}

/*- CHANGES COLOR WHEN LINK IS VISITED:*/
.top-menu a:visited {
    color: #804080;
}

