* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #191919;
}

body{
  min-height: 100dvh;
  background-image: url("../images/image_background.png");
  background-color: #191919;
  backdrop-filter: blur(1rem);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main{
  margin: 1rem;
}

header h1{
  font-size: 2rem;
  color: #ff8040;
}

section h2, h3{
  font-size: 2rem;
  color: #ff8040;
}

section p{
  font-size: 1.5rem;
  color: #ff8040;
}

header{
  vertical-align: middle;
  text-align: center;
  border: 4px solid #ff8040;
}

header div{
  display: inline-block;
  vertical-align: middle;
}

a{
  color: #ff8040;
}

nav{
  background-image: url("../images/nav.png");
  background-blend-mode: normal;
  background-size: cover;
  text-align: center;
}

nav ul{
  list-style-type: none;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px;
  margin: 0px;
}

dl{
  font-size: 20px;
}

dt{
  padding-top: 6px;
}

blockquote p{
  vertical-align: middle;
  text-align: center;
}

footer{
  display: grid;
  justify-content: center;
  background-color: black;
  background-blend-mode: darken;
  background-size: cover;
  text-align: center;
}

footer div{
  display: inline-block;
  vertical-align: middle;
}

footer p{
  font-weight: bolder;
  color: #ffffff;
  margin: 2dvh;
}

footer img{
  border: 1px solid #ffefdf;
}

/*CUSTOM CLASSES:*/

/*- DIVIDES SECTIONS WITH A WHITE BOX:*/
.page-separator{
  background-image: url("../images/image_background2.png");
  width: 100%;
  height: 20px;
}

/*- ADDS BACKGROUND COLOR TO TEXT:*/
.colored-box{
  background-color: #191919;
  padding: 20px;
}

/*- ADDS FONT TO TEXT:*/
.custom-font{
  font-family: sans-serif;
  font-size: 16px;
}

/*- ADJUSTS AN INDIVIDUAL LIST:*/

.nav-item li{
  display: inline;
}

/*- ADJUSTS THE LINKS:*/
.nav-item a{
  text-decoration: none;
}

/*- CHANGES COLOR WHEN HOVERING OVER LINK:*/
.nav-item a:hover {
  color: rgb(255, 64, 64, 0.5);
}

/*- CHANGES COLOR WHEN LINK IS VISITED:*/
.nav-item a:visited {
  color: rgb(255, 64, 64, 0.5);
}

.main-header{
  background-color: #191919;
  text-align: center;
}

.main-header h1{
  font-size: 32px;
}

.main-header p{
  font-size: 16px;
  margin-top: 10px;
}

.content-article{
  background-color: #191919;
  border: 2px solid #ffefdf;
  padding: 20px;
  margin-bottom: 20px;
}

.content-article h2{
  color: #333;
  font-size: 24px;
}

.content-article p{
  color: #666;
  font-size: 16px;
  line-height: 1.5px;
}

.section3 h4{
  vertical-align: middle;
  text-align: center;
}

.sections_arrow1{
  color: #ff8040;
  display: inline-block;
  font-size: 2rem
}

.sections_arrow2{
  color: #ff8040;
  display: inline-block;
  font-size: 2rem
}